.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 60px 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 16px;
  flex-direction: row-reverse;
  width: 90%;
  max-width: 1200px;
  border-radius: 15px;
  margin: auto;
  background-image: url("../../assets/vector-bg.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover, cover;
  background-position: top right, top right, center;
  background-blend-mode: normal, normal, darken;
}

.contact-image {
  flex: 1 1 45%;
  max-width: 100%;
}

.contact-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.contact-form-container {
  flex: 1 1 45%;
  text-align: left;
  max-width: 100%;
}

.contact-form-container h2 {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 15px;
  max-width: 400px;
  font-weight: 100;
}

.contact-form-container h2,
.contact-form-container p {
  font-size: 1rem;
}

.contact-form-container p {
  margin-bottom: 10px;
  line-height: 1.7;
  max-width: 550px;
  margin-top: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.contact-form-group input,
.contact-form-group select {
  flex: 1 1 48%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.contact-form-group input:focus,
.contact-form-group select:focus {
  border-color: #f27b7e;
}

.contact-textarea {
  padding: 15px;
  height: 140px;
  resize: none;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.contact-textarea:focus {
  border-color: #f27b7e;
}

.contact-checkbox-group {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
}

.contact-submit-button {
  background-color: #f27b7e;
  color: #fff;
  padding: 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-submit-button:hover {
  background-color: #f27b7e;
  transform: translateY(-2px);
}

.contact-submit-button:active {
  transform: translateY(2px);
}

@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .contact-image,
  .contact-form-container {
    width: 100%;
    max-width: 100%;
  }

  .contact-form-group input,
  .contact-form-group select {
    flex: 1 1 100%;
  }

  .contact-form-container h2 {
    font-size: 24px;
    margin-bottom: 8%;
    line-height: 1.4;
  }

  .contact-form-container p {
    margin-top: 5px;
    margin-bottom: 8%;
  }
}

@media screen and (min-width: 1200px) {
  .contact-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .contact-form-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}
