.property-section {
  padding-top: 80px;
  padding-bottom: 50px;
  position: relative;
  background: #eff6ff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-header {
  text-align: center;
  margin-bottom: 40px;
}

.section-header .title {
  font-weight: light;
  font-size: 2.3em;
  color: #04060E;
  margin-bottom: 50px;
}

.section-header .paragraph {
  margin-top: -20px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  text-align: center;
  color: #ED3237;
}

.property-filter-group {
  background-color: #eff6ff;
  border-radius: 30px;
  text-align: center;
  margin: auto;
  width: 75%;
  align-items: center;
  height: 50px;
  display: flex;
  justify-content: center;
}

.property-filter-group ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.property-filter-group li {
  cursor: pointer;
}

.property-filter-group li:hover {
  text-decoration: underline;
}

.slider {
  display: flex;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.top-slider {
  animation: slideRight 0s linear infinite;
}

.bottom-slider {
  animation: slideLeft 0s linear infinite;
}

@keyframes slideRight {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes slideLeft {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.card-property-item {
  min-width: 33.33%;
  box-sizing: border-box;
  padding: 0 10px;
}

.property-thum {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.property-thum img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.property-category {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #eff6ff;
  padding: 5px 10px;
  border-radius: 3px;
}

.property-content {
  padding: 15px;
  background: #eff6ff;
  border: 1px solid #eff6ff;
  border-top: none;
}

.property-title {
  display: block;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: none;
}

.property-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.property-author a {
  color: #333;
  text-decoration: none;
}

.property-price {
  font-weight: bold;
  color: #ED3237;
}

.button-container {
  
  text-align: center;
}

.view-more-btn {
  margin-top: 30px;
  background: #ED3237;
  color: #eff6ff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  
}

.view-more-btn:hover {
  background: #d31b2b;
}

@media (max-width: 1280px) {
  .card-property-item {
    min-width: 50%;
  }

  .property-filter-group {
    background-color: #eff6ff;
    border-radius: 30px;
    text-align: center;
    margin: auto;
    width: 75%;
    align-items: center;
    height: auto; 
    display: flex;
    flex-direction: column; 
    padding: 10px; 
  }
  
  .property-filter-group ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    margin: 0; 
  }
  
  .property-filter-group li {
    cursor: pointer;
    font-size: 1em; 
  }
  
  .property-filter-group li:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .property-filter-group {
      width: 100%;
      padding: 10px; 
    }
  
    .property-filter-group ul {
      flex-direction: column; 
      gap: 15px; 
    }
  
    .property-filter-group li {
      font-size: 1em; 
    }
  }
  
}

@media (max-width: 768px) {
  .property-section {
    padding-top: 40px;
    padding-bottom: 25px;
  }

  .card-property-item {
    min-width: 100%;
  }

  .section-header .title {
    font-size: 1.8em;
  }

  .section-header .paragraph {
    font-size: 1em;
  }

  .property-filter-group {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .property-filter-group ul {
    flex-direction: column;
    gap: 15px;
  }

  .view-more-btn {
    font-size: 15px;
    padding: 8px 16px;
  }
}
